<div class="mx-auto px-8 py-6 rounded shadow bg-white">
  <%= form_with model: @event do |f| %>
    <div class="flex flex-col space-y-4">
      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <%= f.label :event_type_id, "Event Theme", class: "font-bold" %>
        <%= f.select :event_type_id, EventType.order(:name).pluck(:name, :id) %>
      </div>

      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <%= f.label :customer_id, class: "font-bold" %>
        <%= f.select :customer_id, Customer.order(:first_name).map { |c| [c.name, c.id] } %>
      </div>

      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <%= f.label :start, class: "font-bold" %>
        <div>
          <%= f.datetime_select :start %>
        </div>
      </div>

      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <%= f.label :finish, class: "font-bold" %>
        <div>
          <%= f.datetime_select :finish %>
        </div>
      </div>

      <div class="flex justify-between mt-4">
        <div>
          <% if @event.persisted? %>
            <%= link_to "Cancel Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "inline-block bg-red-500 hover:bg-red-600 text-white rounded shadow cursor-pointer font-bold px-3 py-2" %>
          <% end %>
        </div>
        <%= f.submit "Save", class: "bg-blue-500 hover:bg-blue-600 text-white rounded shadow cursor-pointer font-bold px-3 py-2" %>
      </div>
    </div>
  <% end %>
</div>
