<div class="mx-auto px-8 py-6 rounded shadow bg-white">
  <%= form_with model: @event do |f| %>
    <div class="flex flex-col space-y-4">
      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <div><%= f.label :event_type_id, "Event Theme", class: "font-bold" %></div>
        <div><%= f.select :event_type_id, EventType.order(:name).pluck(:name, :id), {}, { class: "form-select" } %></div>
      </div>

      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <div><%= f.label :customer_id, class: "font-bold" %></div>
        <div><%= f.select :customer_id, Customer.order(:first_name).map { |c| [c.name, c.id] }, {}, { class: "form-select" } %></div>
      </div>

      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <%= f.label :start, class: "font-bold" %>
        <div class="row">
          <%= f.datetime_select :start, {}, { class: "form-select form-select-sm col mr-1 ml-1 w-auto" } %>
        </div>
      </div>

      <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
        <%= f.label :finish, class: "font-bold" %>
        <div class="row">
          <%= f.datetime_select :finish, {}, { class: "form-select form-select-sm col mr-1 ml-1 w-auto" }  %>
        </div>
      </div>

      <div class="flex justify-between mt-4">
        <div>
          <% if @event.persisted? %>
            <%= link_to "Cancel Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        </div>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
