<div class="px-8 py-6 rounded shadow bg-white">
  <table class="w-full leading-10">
    <thead class="text-left border-b">
      <tr class="pb-1">
        <th>Customer</th>
        <th>Event Theme</th>
        <th>Event Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.customer.name %></td>
          <td><%= event.event_type.name %></td>
          <td><%= event.start.strftime("%b %e, %l:%M %p") %> - <%= event.finish.strftime("%b %e, %l:%M %p") %></td>
          <td class="text-right">
            <%= link_to "Edit", edit_event_path(event), class: "text-blue-500 hover:underline" %> | <%= link_to "View", event_path(event), class: "text-green-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flex justify-center mt-4">
    <%= link_to "Create Event", new_event_path, class: "inline-block bg-blue-500 hover:bg-blue-600 text-white rounded shadow cursor-pointer font-bold px-3 py-2" %>
  </div>
</div>
